.container{
  border-radius: 10px;
  border: grey solid;
  margin: 10px;
  padding: 20px;
}

.container2{
  display: flex;
  flex-direction: row;
}

.editor{
  width: 50%;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-bottom: solid gray 2px;
  margin-right: 10px;
}

.create{
  width: 50%;
}

.prev{
  width: 50%;
}

.preview{
  width: 50%;
  margin: 0px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: rgb(186, 221, 221);
  border-radius: 10px;
  margin-bottom: -15px;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.25);
}

h1{
  text-align: center;
  font-size: 40px;
  margin-top: 20px;
  margin-bottom: 50px;
  offset: none;
}

.ed-con{
  padding: 10px;
}

.question{
  font-size: 22px;
  margin-bottom: 10px;
}

.enter-ques{
  margin-top: 10px;
  height: 20px;
  margin-right: 10px;
}

.pre-con{
  padding: 10px;
  margin-left: 40px;
  margin-right: 40px;
  border-bottom: solid gray 2px;
  padding-bottom: 30px;
}

.btn{
  align-items: center;
}

.new-btn{
  margin: 10px;
}

/* .new-btn{
  margin-left: 400px;
} */